# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~ariera/websoa/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~ariera/websoa/index.php [L]
</IfModule>

# END WordPress
